<?xml version="1.0" encoding="UTF-8"?>
<manifest 
    xmlns:android="http://schemas.android.com/apk/res/android"
	package="de.minimum.hawapp.app"
	android:versionCode="1"
	android:versionName="1.0" >

	<uses-sdk
		android:minSdkVersion="14"
		android:targetSdkVersion="14" />
        
	<uses-permission 
	    android:name="android.permission.INTERNET" />
                
	<application
		android:allowBackup="false"
		android:icon="@drawable/ic_launcher"
		android:theme="@style/AppTheme" >
		<!-- android:label="@string/app_name" android:permission="android.permission.INTERNET" -->
		<activity
			android:name="de.minimum.hawapp.app.activity.LoginActivity_"
			android:label="@string/app_name" >
		</activity>
		<activity android:name="AlbumsActivity"></activity>
		<activity android:name="SongsActivity"></activity>
		<activity android:name="ArtistsActivity"></activity>
		<activity android:name="de.minimum.hawapp.app.activity.MainActivity"  
		    android:label="@string/app_name"
			android:theme="@android:style/Theme.NoTitleBar" >
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>
		<activity android:name="de.minimum.hawapp.app.activity.SchwarzesBrettActivity"></activity>
		<activity android:name="de.minimum.hawapp.app.activity.StisysActivity"></activity>
		<activity android:name="de.minimum.hawapp.app.activity.KalenderActivity"></activity>
		<activity android:name="de.minimum.hawapp.app.activity.MensaActivity"></activity>
		<activity android:name="de.minimum.hawapp.gui.schwarzesbrett.NeueNachrichtActivity" android:label="@string/sb_neue_nachricht"></activity>
		<activity android:name="de.minimum.hawapp.gui.schwarzesbrett.NachrichtActivity" android:label="@string/sb_nachricht"></activity>
	</application>
</manifest>