<?xml version="1.0" encoding="UTF-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="de.minimum.hawapp.app"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="14" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_CALENDAR"/>
    <uses-permission android:name="android.permission.WRITE_CALENDAR"/>
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
	
    <instrumentation
        android:name="android.test.InstrumentationTestRunner"
        android:targetPackage="de.minimum.hawapp.app" />
    
    <application
        android:allowBackup="false"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <uses-library android:name="android.test.runner" />
        <activity
            android:name="de.minimum.hawapp.app.MainActivity"
            android:screenOrientation="portrait"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.NoTitleBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity 
            android:name="de.minimum.hawapp.app.login.gui.LoginActivity_"
            android:screenOrientation="portrait" >
        </activity>
        <activity 
            android:name="de.minimum.hawapp.app.blackboard.gui.BlackBoardActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity 
            android:name="de.minimum.hawapp.app.blackboard.gui.FileChooser"
            android:screenOrientation="portrait" >
        </activity>
        <activity 
            android:name="de.minimum.hawapp.app.stisys.gui.StisysActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity 
            android:name="de.minimum.hawapp.app.calendar.gui.CalendarCategoriesActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity 
            android:name="de.minimum.hawapp.app.KalenderCategoryActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity 
            android:name="de.minimum.hawapp.app.mensa.gui.MensaActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity 
            android:name="de.minimum.hawapp.app.pub.gui.PubActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="de.minimum.hawapp.app.blackboard.gui.NewOfferActivity"
            android:screenOrientation="portrait"
            android:label="@string/sb_neue_nachricht" >
        </activity>
        <activity
            android:name="de.minimum.hawapp.app.blackboard.gui.OfferActivity"
            android:screenOrientation="portrait"
            android:label="@string/sb_nachricht" >
        </activity>
        
        <!-- Calender START -->
        <activity
            android:name="de.minimum.hawapp.app.calendar.gui.CalendarLectureActivity"
            android:label="@string/title_activity_calendarlecture" 

            android:screenOrientation="portrait"
            
            android:windowSoftInputMode="stateAlwaysVisible|adjustPan"  
  			android:theme="@android:style/Theme.Dialog"
            >
        </activity>
        <activity
            android:name="de.minimum.hawapp.app.calendar.gui.CalendarLecturesActivity"
            android:label="@string/title_activity_calendar_subcripted_lectures" 
            android:screenOrientation="portrait"
            
            android:windowSoftInputMode="stateAlwaysVisible|adjustPan"  
  			android:theme="@android:style/Theme.Dialog"
            >
        </activity>
        <activity
            android:name="de.minimum.hawapp.app.calendar.gui.CalendarSubscribedLectureActivity"
            android:label="@string/title_activity_calendar_subcripted_lectures" 
            android:screenOrientation="portrait"
            
            android:windowSoftInputMode="stateAlwaysVisible|adjustPan"  
  			android:theme="@android:style/Theme.Dialog"
            >
        </activity>
        <activity
            android:name="de.minimum.hawapp.app.calendar.gui.CalendarAppointmentActivity"
            android:label="@string/title_activity_calendar_appointment" 
            android:screenOrientation="portrait"
            
            android:windowSoftInputMode="stateAlwaysVisible|adjustPan"  
  			android:theme="@android:style/Theme.Dialog"
            >
        </activity>
        <activity
            android:name="de.minimum.hawapp.app.calendar.gui.CalendarChangeMessagesActivity"
            android:label="@string/title_activity_changeLog" 
            android:screenOrientation="portrait"
            
            android:windowSoftInputMode="stateAlwaysVisible|adjustPan"  
  			android:theme="@android:style/Theme.Dialog"
            >
        </activity>
        <activity
            android:name="de.minimum.hawapp.app.calendar.gui.CalendarCalendarActivity"
            android:label="@string/title_calendar" 
            android:screenOrientation="portrait"
            
			android:windowSoftInputMode="stateAlwaysVisible|adjustPan"  
  			android:theme="@android:style/Theme.Dialog"
            >
        </activity>
        <!-- Calender END -->
    </application>

</manifest>